### Introduction

working with data from a portuguese banking institution. The goal is to predict if the client will subscribe a term deposit, which'll be our y-variable for prediction.

In [24]:
import numpy as np
import pandas as pd

In [28]:
excel_df = pd.read_csv(r"C:\Users\artix\Desktop\Workspace\pytorchproject\Datasets\bank-additional-full.csv", delimiter = ";")

10,000+ rows have data where some columns have missing values/unknowns, which is about 25% of data, but imputation isn't exactly possible because a lot of it is categorical data and mode imputation might not be the best decision because there's only two categories and might lead to higher inaccuracies.

In [33]:
columns_to_check = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y'] #removing rows with unknowns only on string columns
excel_df = excel_df[~excel_df[columns_to_check].apply(lambda row: row.str.contains('unknown', case=False, na=False)).any(axis=1)]
excel_df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no